fastapi==0.115.0 
uvicorn==0.30.6 
pydantic==2.9.2 
clickhouse-connect==0.6.5
python-jose==3.3.0 
pydantic-settings==2.5.2
python-multipart==0.0.9
minio==7.2.5
pyarrow==15.0.2
numpy==1.26.4
backoff==2.2.1
